<a href="https://colab.research.google.com/github/SaiRam-43/Python_list/blob/main/Day_1_Practicing_Data_Types(Assignment).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Jupyter Notebook and Data Types

Write a program in Jupyter Notebook to declare variables of different data types (integer, float, string, and boolean). Print each variable and its type.

In [2]:

integer_var = 42
float_var = 3.14
string_var = "Hello, Jupyter!"
boolean_var = True
print("Integer value:", integer_var, "| Type:", type(integer_var))
print("Float value:", float_var, "| Type:", type(float_var))
print("String value:", string_var, "| Type:", type(string_var))
print("Boolean value:", boolean_var, "| Type:", type(boolean_var))

Integer value: 42 | Type: <class 'int'>
Float value: 3.14 | Type: <class 'float'>
String value: Hello, Jupyter! | Type: <class 'str'>
Boolean value: True | Type: <class 'bool'>